#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        e_gpio: e_gpio {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = <&macro_param_1to1>
                , <&macro_press &gpio MACRO_PLACEHOLDER GPIO_ON>
                , <&macro_param_1to1>
                , <&macro_release &gpio MACRO_PLACEHOLDER GPIO_OFF>
                ;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none &none &none &none &none &none &none &none &none &none &none &none
&none  &kp B &kp L &kp D &kp C &kp V &kp Z &kp Y &kp O &kp U &none &none 
&none  &kp N &kp R &kp T &kp S &kp G &kp P &kp H &kp A &kp E &kp I &none 
&none  &kp Q &kp X &kp M &kp W &kp J &kp K &kp F &none &none &none &none 
&gpio 1 GPIO_TOG &none &none &none &kp ENTER &kp SPACE &kp BSPC &kp ESC &none &none &none &none
            >;
        };
    };
};