#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
//#include <locale/keys_sv.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
				&kp A &tog 1
				&kp B &kp D
            >;
        };
        emu_layer {
            bindings = <
				&bt BT_NXT &tog 1
				&bt BT_PRV_DEV &kp LEFT
            >;
        };
    };
};