#include <rpi_pico/rp2040.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            pinmux = <SPI0_SCK_P2>, <SPI0_TX_P3>, <SPI0_CSN_P1>, <SPI0_CSN_P5>;
        };
    };
    spi1_default: spi1_default {
        group1 {
            pinmux = <SPI0_TX_P7>, <SPI1_SCK_P10>, <SPI1_CSN_P9>, <SPI1_CSN_P13>;
        };
        group2 {
            pinmux = <SPI1_RX_P8>;
            input-enable;
        };
    };
};

&pico_spi {
    status = "okay";
    cs-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>, <&gpio0 5 GPIO_ACTIVE_LOW>;
    shifter0: 595@0 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <5000000>;
        reg = <0 0 1>;
        #gpio-cells = <2>;
        ngpios = <16>;
    };
    shifter1: 595@1 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <5000000>;
        reg = <1 0 1>;
        #gpio-cells = <2>;
        ngpios = <24>;
    };
};

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    //gpios {
    //    compatible = "gpio-leds";
    //    green: green {
    //        gpios
    //        = <&shifter1 0 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 1 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 2 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 3 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 4 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 5 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 6 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 7 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 8 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 9 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 10 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 11 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 12 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 13 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 14 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 15 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 16 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 17 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 18 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 19 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 20 GPIO_ACTIVE_HIGH>
    //        , <&shifter1 21 GPIO_ACTIVE_LOW>
    //        , <&shifter1 22 GPIO_ACTIVE_HIGH>
    //        ;
    //    };
    //};

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;

        map = <
        RC(4, 0) RC(4, 1) RC(4, 2) RC(4, 3) RC(4, 4) RC(4, 5) RC(4, 6) RC(4, 7) RC(4, 8) RC(4, 9) RC(4, 10) RC(4, 11)
        RC(3, 0) RC(3, 1) RC(3, 2) RC(3, 3) RC(3, 4) RC(3, 5) RC(3, 6) RC(3, 7) RC(3, 8) RC(3, 9) RC(3, 10) RC(3, 11)
        RC(2, 0) RC(2, 1) RC(2, 2) RC(2, 3) RC(2, 4) RC(2, 5) RC(2, 6) RC(2, 7) RC(2, 8) RC(2, 9) RC(2, 10) RC(2, 11)
        RC(1, 0) RC(1, 1) RC(1, 2) RC(1, 3) RC(1, 4) RC(1, 5) RC(1, 6) RC(1, 7) RC(1, 8) RC(1, 9) RC(1, 10) RC(1, 11)
        RC(0, 0) RC(0, 1) RC(0, 2) RC(0, 3) RC(0, 4) RC(0, 5) RC(0, 6) RC(0, 7) RC(0, 8) RC(0, 9) RC(0, 10) RC(0, 11)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios
            = <&shifter0 0 GPIO_ACTIVE_HIGH>
            , <&shifter0 1 GPIO_ACTIVE_HIGH>
            , <&shifter0 2 GPIO_ACTIVE_HIGH>
            , <&shifter0 3 GPIO_ACTIVE_HIGH>
            , <&shifter0 4 GPIO_ACTIVE_HIGH>
            , <&shifter0 5 GPIO_ACTIVE_HIGH>
            , <&shifter0 8 GPIO_ACTIVE_HIGH>
            , <&shifter0 9 GPIO_ACTIVE_HIGH>
            , <&shifter0 10 GPIO_ACTIVE_HIGH>
            , <&shifter0 11 GPIO_ACTIVE_HIGH>
            , <&shifter0 12 GPIO_ACTIVE_HIGH>
            , <&shifter0 13 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

};

&gpio0 {
    status = "okay";
};

zephyr_udc0: &usbd {
    status = "okay";
};