#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "elpekenin/behaviors.dtsi"
#include <locale/keys_sv.h>

/ {
    //macros {
    //    e_gpio: e_gpio {
    //        compatible = "zmk,behavior-macro-one-param";
    //        #binding-cells = <1>;
    //        bindings
    //            = <&macro_param_1to1>
    //            , <&macro_press &gpio MACRO_PLACEHOLDER GPIO_ON>
    //            , <&macro_param_1to1>
    //            , <&macro_release &gpio MACRO_PLACEHOLDER GPIO_OFF>
    //            ;
    //    };
    //};

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none    &kp ESC   &kp SV_EXCL &kp SV_DOT &kp SV_COMMA &kp SV_QMARK           &none    &kp SV_PLUS &kp SV_EQUAL  &kp SV_MINUS    &none           &tog 3
&kp ESC  &kp B     &kp L       &kp D      &kp C        &kp V                  &kp Z    &kp Y       &kp O         &kp U           &tog 3           &none
&kp TAB  &kp N     &kp R       &kp T      &kp S        &kp G                  &kp P    &kp H       &kp A         &kp E           &kp I           &none
&sk LALT &kp Q     &kp X       &kp M      &kp W        &kp J                  &kp K    &kp F       &kp SV_A_RING &kp SV_A_UMLAUT &kp SV_O_UMLAUT &none
&sk LGUI &sk LCTRL &none       &none      &lt 2 SPACE  &kp BSPC               &sl 1    &sk LSHIFT  &none         &none           &none           &none
            >;
        };

        sym_layer {
            bindings = <
&none    &none    &none    &none    &none    &none                    &none    &none    &none    &none    &none    &trans
&none    &none    &kp SV_N7 &kp SV_N8 &kp SV_N9 &none                    &none    &kp SV_LBRC    &none    &kp SV_RBRC    &none    &none
&none    &kp SV_N0 &kp SV_N4 &kp SV_N5 &kp SV_N6 &none                    &none    &kp SV_LPAR    &kp SV_UNDER    &kp SV_RPAR    &none    &none
&none    &none    &kp SV_N1 &kp SV_N2 &kp SV_N3 &none                    &none    &kp SV_LBKT    &none    &kp SV_RBKT    &none    &none
&none    &none    &none    &none    &none    &none                    &none    &none    &none    &none    &none    &none
            >;
        };

        nav_layer {
            bindings = <
&none    &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &trans
&none    &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none
&none    &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none
&none    &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none
&none    &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none
            >;
        };

        emu_layer {
            bindings = <
&none     &none     &none            &none             &none             &none                        &none      &none      &none      &none      &none      &trans
&none     &kp Z     &gpio 21 GPIO_ON &gpio 21 GPIO_OFF &gpio 0 GPIO_TOG  &none                        &none      &none      &none      &none      &tog 3     &none
&none     &none     &gpio 19 GPIO_ON &gpio 19 GPIO_OFF &gpio 12 GPIO_TOG &none                        &none      &none      &none      &none      &none      &none
&none     &none     &gpio 0 GPIO_ON  &gpio 0 GPIO_OFF  &gpio 1 GPIO_TOG  &none                        &none      &none      &none      &none      &none      &none
&none     &none     &none            &none             &none             &none                        &none      &none      &none      &none      &none      &none
            >;
        };
    };
};